@{
	ViewBag.Title = "GIVE ADMIN HOME";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<style>
	.col-md-5 {
	background-color: cadetblue;
	border: 2px groove;
	border-radius: 5px;
	border-color: brown;
	text-align: center;
	color: white;
	margin-top: 5%;
	margin-right: 5%;
	}
</style>


<div class="col-md-12" style="margin: 5%">
	@*<img src="~/Content/images/sampleBI.png" alt="demo report" />*@

	<div class="col-md-5">

		<h3 style="padding-top: 5%">Total Projects</h3>
		<h3>@View</h3>

		<h5>Active: 1,000</h5>
		<h5 style="padding-bottom:5%">Closed: 938</h5>

	</div>


	<div class="col-md-5">

		<h3 style="padding-top:5%">Total NGOs </h3>
		<h3>1,938</h3>

		<h5>Active: 1,000</h5>
		<h5 style="padding-bottom:5%">Pending: 938</h5>

	</div>



</div>


