<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appSettings>
    <add key="errorlog" value="c:\\Applogs\\mm\\errorlogs\\" />
    <add key="tracer" value="c:\\Applogs\mm\tracer\" />
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off" />
    <httpRuntime executionTimeout="600" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceSoap" />
        <binding name="banksSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.0.41.102/EwService/Service.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceSoap" contract="svcCardReq.ServiceSoap" name="ServiceSoap" />
      <endpoint address="http://10.0.41.102/bankservice/banks.asmx" binding="basicHttpBinding" bindingConfiguration="banksSoap" contract="svcCusInfoReq.banksSoap" name="banksSoap" />
    </client>
  </system.serviceModel>
    <system.webServer>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>