<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <log4net>
    <root>
      <level value="ALL"/>
      <appender-ref ref="LogFileAppender"/>
    </root>
    <root>
      <level value="ALL"/>
      <appender-ref ref="LogFileAppender1"/>
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="E:\AppLogs\nfpLive\errorlog\NIPOUT\NIPOut.txt"/>
      <param name="AppendToFile" value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="2MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%-5p%d{yyyy-MM-dd hh:mm:ss} – %m%n"/>
      </layout>
    </appender>
    <appender name="LogFileAppender1" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="E:\AppLogs\nfpLive\errorlog\NIPLog.txt"/>
      <param name="AppendToFile" value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="2MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%-5p%d{yyyy-MM-dd hh:mm:ss} – %m%n"/>
      </layout>
    </appender>
  </log4net>
  <appSettings>
    <add key="NIP_PL_ACCT_USSD" value="PL52259"/>
    <add key="NIP_PL_ACCT_OTHERS" value="PL52340"/>
    <add key="NIP_PL_ACCT_CIB" value="PL52522"/>
    <add key="kiakia_tier1_amt" value="50000*300000"/>
    <add key="kiakia_tier2_amt" value="100000*500000"/>
    <add key="mailserver" value="192.168.1.23"/>
    <add key="mailsender" value="ebusiness@sterlingbankng.com"/>
    <add key="uploadpath" value="e:\wwwroot\nfpLive\uploads\"/>
    <add key="errorlog" value="E:\AppLogs\nfpLive\errorlog\"/>
    <add key="tracer" value="e:\AppLogs\nfpLive\tracer\"/>
    <!--<add key="Nibbslive.NFPBankSimulationNoCrypto" value="http://41.189.18.200:8085/nfp/NFPBankSimulationNoCrypto.jws"/> -->
    <!--<add key="Nibbslive.NFPBankSimulationNoCryptoService" value="http://localhost/nfp_simulator/nfp/NFPBankSimulationNoCryptoService.asmx"/>-->
    <!--<add key="Nibbslive.NFPBankInterface" value="http://192.234.10.200:85/nfp/NFPBankInterface.jws"/>-->
    <!--<add key="vteller.nfp" value="http://172.20.1.24:891/nfp.asmx"/>-->
    <!--<add key="vteller.nfp" value="http://localhost:892/nfp.asmx"/>-->
    <!--<add key="sbp.banks" value="http://localhost:193/banks.asmx"/>-->
    <!--<add key="imal.NIBankingClientService" value="http://192.168.4.62:3030/NIBankingClientService/services/nibService"/>-->
    <add key="imal.NIBankingClientService" value="http://10.0.0.119:3030/NIBankingClientService/services/nibService"/>
    <add key="sbp.banks" value="http://10.0.41.102/bankservice/banks.asmx"/>
    <add key="TestTQ.requery" value="http://localhost:9081/requery.asmx"/>
    <add key="Nibbslive.NIPInterface" value="http://192.234.10.202:8086/NIPWS/NIPInterface"/>
    <!--<add key="vteller.nfp" value="http://10.0.0.226:814/nfp.asmx"/>-->
    <add key="vteller.nfp" value="http://10.0.0.63:817/nfp.asmx"/>
    <!--<add key="EACBS.banks" value="http://192.168.4.157:814/banks.asmx"/>-->
    <add key="EACBS.banks" value="http://10.0.0.85:824/banks.asmx"/>
    <!--<add key="BankOneService.SterlingFundsTransferService" value="http://173.1.220.37/BankOneFT/SterlingFundsTransferService.svc"/>-->
    <add key="BankOneService.SterlingFundsTransferService" value="https://api.mybankone.com/BankOneFT/SterlingFundsTransferService.svc"/>
    <add key="ServerProxy" value="172.22.1.42"/>
    <add key="ServerPort" value="80"/>
    <add key="AppZoneIntCode" value="100567"/>
    <add key="mssqlconn" value="Data Source=SQLDB1,1490;Initial Catalog=IBSWebserviceDB_T24;User ID=ibsw;Password=(56#ib*ws);MultipleActiveResultSets=true;"/>
    <add key="ImalVteller.services" value="http://10.0.0.189/imalcore/services.asmx"/>
    <add key="ImalWS.service" value="http://10.0.0.92:8090/SalesManagerWS/Service.asmx"/>
  <add key="NibssInward.NIPTSQInterface" value="http://192.234.10.233:88/NIPWS/NIPTSQInterface"/>
  </appSettings>
  <connectionStrings>
    <add connectionString="Data Source=SQLDB1,1490;Initial Catalog=nfpdbT24;Persist Security Info=True;User ID=etrnx;Password=(*59serv#)" name="nfp" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.DirectoryServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Messaging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="login.aspx"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <pages>
      <controls>
        <add tagPrefix="wpt" tagName="calendar" src="~/webparts/calendar.ascx"/>
        <add tagPrefix="wpt" tagName="infoBar" src="~/webparts/infoBar.ascx"/>
      </controls>
    </pages>
    <httpModules/>
  </system.web>
  <location path="test.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="~/cso/test.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="genkey.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="gentest.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="ebillServices.asmx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="ebillSHA256.asmx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="sbp_nibss.asmx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="bankTeller.asmx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="NewIBS.asmx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="nipthirdparty.asmx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="sbp_outward_trans.asmx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="ComputerIBSFeeVat.asmx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="JustNameEnquiry.asmx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="requery.asmx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="ibs.asmx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="mobile.asmx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="AutoRetry.asmx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="~/cso/dd.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <system.web>
    <httpRuntime maxRequestLength="209715" executionTimeout="360"/>
  </system.web>
  <system.net>
    <defaultProxy>
      <proxy usesystemdefault="False"/>
    </defaultProxy>
  </system.net>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules/>
  </system.webServer>
</configuration>