<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="bvnlog" value="e:\AppLogs\bvn\bvn_submit\"/>
    <add key="errorlog" value="e:\AppLogs\bvn\errorlog\"/>
    <add key="mssqlconn_bvnxxxx" value="Data Source=192.168.4.22,1490;Initial Catalog=BVNManager;User ID=BVN;Password=(ib#7u4s9)"/>
    <add key="mssqlconn_bvn" value="Data Source=10.0.41.101;Initial Catalog=BVNManager;User ID=sa;Password=tylent"/>
  </appSettings>
  
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BVN.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.net>
    <settings>
      <servicePointManager expect100Continue="false"/>
    </settings>

    <defaultProxy enabled="true" useDefaultCredentials="true"/>
  </system.net>

  <!--<applicationSettings>
    <BVN.Properties.Settings>
      <setting name="BVN_svcEwService_Service" serializeAs="String">
        <value>http://192.168.4.47/EwService/Service.asmx</value>
      </setting>
    </BVN.Properties.Settings>
  </applicationSettings>-->

  <applicationSettings>
    <BVN.Properties.Settings>
      <setting name="BVN_svcEwService_Service" serializeAs="String">
        <value>http://192.168.4.47/EwService/Service.asmx</value>
      </setting>
    </BVN.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
