<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BankTellerFundsTransfer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BankTellerFundsTransfer.Properties.Settings>
            <setting name="BankTellerFundsTransfer_BankTeller_bankTeller"
                serializeAs="String">
                <value>http://epayments.sterlingbankng.com/nfplive/bankteller.asmx</value>
            </setting>
            <setting name="BankTellerFundsTransfer_SMS_smsSender" serializeAs="String">
                <value>http://epayments.sterlingbankng.com/smsservice/smsSender.asmx</value>
            </setting>
            <setting name="BankTellerFundsTransfer_Bank_bank" serializeAs="String">
                <value>http://localhost/bankservice/bank.asmx</value>
            </setting>
        </BankTellerFundsTransfer.Properties.Settings>
    </applicationSettings>
</configuration>