<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NIPHandleRequeryIMAL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="E:\AppLogs\IMALNIPProcessor\logs\"/>
      <datePattern value="yyyy_MM_dd_HH'.txt'"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <staticLogFileName value="false"/>
      <lockingModel type="log4net.Appender.FileAppender+InterProcessLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%-5p%d{yyyy-MM-dd hh:mm:ss} – %m%n"/>
        <conversionPattern value="%newline%newline%date %newline%message"/>
        <!--<conversionPattern value="%newline%newline%date %newline%logger [%property{NDC}] %newline>> %message%newline" />-->
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="LogFileAppender"/>
    </root>
  </log4net>
  <appSettings>
    <add key="mssqlconn" value="Data Source=SQLDB1,1490;Initial Catalog=nfpdb_test;Persist Security Info=True;User ID=etrnx;Password=(*59serv#)"/> 
  <!--  <add key="mssqlconn" value="Data Source=10.0.41.101;Initial Catalog=nfpdb_test;User ID=sa;Password=tylent"/>-->
    <add key="errorlog" value="E:\AppLogs\IMALNIPProcessor\logs\"/>
    <add key="sendindBankcode" value="000001"/>
    <add key="ImalCoreBaseURI" value="http://localhost:812/"/>
  </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="banksSoap"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.0.0.138:814/banks.asmx" binding="basicHttpBinding" bindingConfiguration="banksSoap" contract="EACBS.banksSoap" name="banksSoap"/>
        </client>
    </system.serviceModel>
    <applicationSettings>
        <NIPHandleRequeryIMAL.Properties.Settings>
            <setting name="NIPHandleRequeryIMAL_NIPRequery_Requery" serializeAs="String">
                <value>http://10.0.0.189/nfplive/requery.asmx</value>
            </setting>
            <setting name="NIPHandleRequeryIMAL_imal_NIBankingClientService" serializeAs="String">
                <value>http://10.0.41.207:3030/NIBankingClientService/services/nibService</value>
            </setting>
        </NIPHandleRequeryIMAL.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
