<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VTU.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="mssqlconn" value="Data Source=.;Initial Catalog=MobileMoney;User ID=sa;Password=LETmein123"/>
    <!--<add key="mssqlconn" value="Data Source=192.168.4.22,1490;Initial Catalog=MobileMoney;User ID=Mobilem;Password=$mob379#"/>-->
    <!--<add key="mssqlconn"  value="Data Source=10.0.0.211,1490;Initial Catalog=MobileMoney;User ID=mobilem;Password=$mob379#"/>-->
    <add key="mfinoAPI" value="https://192.168.1.25/webapi/sdynamic"/>
    <!--<add key="mfinoAPI"  value="https://192.168.1.29/webapi/sdynamic"/>-->
    <add key="errorlog" value="c:\AppLogs\gorecharge\errorlog\"/>
    <add key="ussdlog" value="c:\AppLogs\gorecharge\ussd\"/>
    <add key="svclog" value="c:\AppLogs\gorecharge\vtu\"/>
    <add key="svcvalidation" value="c:\AppLogs\gorecharge\validation\"/>
    <add key="mfino_user" value="c:\AppLogs\gorecharge\mfino_user\"/>
    <add key="svcRequest" value="502"/>
    <add key="svcChannelID" value="9"/>
    <add key="svcPassword" value="bJYpxd38s9"/>
    <add key="PROXY" value="YES"/>
  </appSettings>
  <!--<applicationSettings>
    <VTU.Properties.Settings>
      <setting name="VTU_EwService_Service" serializeAs="String">
        <value>http://192.168.4.47/EwService/Service.asmx</value>
      </setting>
    </VTU.Properties.Settings>
  </applicationSettings>-->
  <system.net>
    <settings>
      <servicePointManager expect100Continue="false"/>
    </settings>
    <defaultProxy enabled="true" useDefaultCredentials="true"/>
  </system.net>
  <applicationSettings>
    <VTU.Properties.Settings>
      <setting name="VTU_EwService_Service" serializeAs="String">
        <value>http://10.0.41.102/EwService/Service.asmx</value>
      </setting>
      <setting name="VTU_IBSService_IBSServices" serializeAs="String">
        <value>http://10.0.41.102:812/Ibsservices.asmx</value>
      </setting>
    </VTU.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="banksSoap"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.0.0.217:814/Banks.asmx" binding="basicHttpBinding" bindingConfiguration="banksSoap" contract="EACBS.banksSoap" name="banksSoap"/>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
