<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.net>
    <settings>
      <servicePointManager expect100Continue="false"/>
    </settings>

    <defaultProxy enabled="true" useDefaultCredentials="true" />
  </system.net>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.0.41.102/EwService/Service.asmx"
        binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
        contract="svcBanks.ServiceSoap" name="ServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>