<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" /> 
    <add key="DebitAnyCardUrl" value="http://10.0.41.102:222/" />
    <add key="subject" value="Sterling IBS OTP" />
     <add key="TwilioAuthToken" value="3fd0f6cbd89a9d386837dc381d0180a7" />
    <add key="TwilioBaseUrl" value="https://????.ngrok.io" />
    <add key="PayliteAcct" value="PL52190" />
    <add key="spayBaseURI" value="https://pass.sterlingbankng.com/SPay/api" />
    <add key="minutes" value="60" />
    <add key="AppID" value="1" />
    <add key="PayCodePoolAcct" value="0063891248" />
    <add key="FiveMinutes" value="5" />
    <add key="sourceEmail" value="SterlingIBSOTP@sterlingbankng.com" />
    <add key="sharedkey" value="000000010000001000000101000001010000011100001011000011010001000100010010000100010000110100001011000001110000001000000100000010000000000100001100000000110000010100000111000010110000110100011011" />
    <add key="sharedvector" value="0000000100000010000000110000010100000111000010110000110100010001" />
    <add key="mssqlconn_infobip" value="Data Source=SQLDB2,1490;Initial Catalog=ProxyDB_Pry;Persist Security Info=True;User ID=mgateuser;Password=mgate123!" />
    <!--<add key="mssqlconn_infobiptest" value="Data Source=10.0.41.104;Initial Catalog=proxy;Persist Security Info=True;User ID=sa;Password=tylent"/> -->
    <add key="mssqlconn_Fxmallam" value="Data Source=10.0.41.101;Initial Catalog=PayLitedb;Persist Security Info=True;User ID=sa;Password=tylent" />
    <add key="mssqlconn_SpayWallet" value="Data Source=10.0.41.101;Initial Catalog=SBPWallet;Persist Security Info=True;User ID=sa;Password=tylent" />
   
    
    <add key="mssqlconn_twilio" value="Data Source=10.0.41.101;Initial Catalog=TwilioTransfers;Persist Security Info=True;User ID=sa;Password=tylent" /> 
    <add key="mssqlconn_ibsdb" value="Data Source=SQLDB1,1490;Initial Catalog=IBSWebserviceDB_T24;User ID=ibsw;Password=(56#ib*ws);MultipleActiveResultSets=true;" />
    <add key="smsSender.smsSender" value="http://epayments.sterlingbankng.com/smsservice/smsSender.asmx" />
    <!--<add key="errorlog" value="E:/AppsLog/genotp/errorlog/" />-->
    <add key="errorlog" value="C:/AppsLog/genotp/errorlog/" /> 
    <add key="Sender" value="STERLING" />
  <add key="EACBS.banks" value="http://10.0.0.217:814/banks.asmx" />
    <add key="BaseUrlPayCode" value="http://10.0.41.102:833/"/>
    <add key="PaycodeSourceEmail" value="PayLiteSBP@sterlingbankng.com"/>
    <add key="PaycodeEmailSubject" value="Your Paylite Paycode"/>
  
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>     
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceSoap" />
        <binding name="ServiceSoap1" />
        <binding name="smsSenderSoap" />
        <binding name="banksSoap1" />
        <binding name="banksSoap2" />
        <binding name="dumftSoap" />
        <binding name="banksSoap" />
        <binding name="ft_genericSoap" />
        <binding name="banksSoap3" />
        <binding name="IBSServicesSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.0.0.230/ewService/service.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceSoap" contract="MailSenderService.ServiceSoap" name="ServiceSoap" />
      <endpoint address="http://10.0.0.217/EWServiceT24/Service.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceSoap1" contract="ewsTest.ServiceSoap" name="ServiceSoap1" />
      <endpoint address="http://10.0.0.217:814/banks.asmx" binding="basicHttpBinding" bindingConfiguration="banksSoap" contract="EACBS.banksSoap" name="banksSoap" />
      <endpoint address="http://epayments.sterlingbankng.com/smsservice/smsSender.asmx" binding="basicHttpBinding" bindingConfiguration="smsSenderSoap" contract="smsSender.smsSenderSoap" name="smsSenderSoap" />
      <endpoint address="http://10.0.0.217:814/banks.asmx" binding="basicHttpBinding" bindingConfiguration="banksSoap1" contract="EACBS.banks.banksSoap" name="banksSoap1" />
      <endpoint address="http://10.0.41.102/banksservicet24/banks.asmx" binding="basicHttpBinding" bindingConfiguration="banksSoap2" contract="Whatsappbank.banksSoap" name="banksSoap2" />
      <endpoint address="http://10.0.41.102:814/ft_generic.asmx" binding="basicHttpBinding" bindingConfiguration="dumftSoap" contract="ft.dumftSoap" name="dumftSoap" />
      <endpoint address="http://10.0.41.102/banksservicet24/banks.asmx" binding="basicHttpBinding" bindingConfiguration="banksSoap3" contract="banksOps.banksSoap" name="banksSoap3" />
      <endpoint address="http://10.0.41.102:818/IBSServices.asmx" binding="basicHttpBinding" bindingConfiguration="IBSServicesSoap" contract="IbsServer.IBSServicesSoap" name="IBSServicesSoap" />
    </client>
  </system.serviceModel>
</configuration>