/* CSS Document */
*
{


}
.fxnBtn {float:left; width:150px; margin:5px; padding:5px; background-color:#eee; border:1px solid #ccc; height:60px;}
.fxnBtn img { float:left; }

#infoClose { float:right; display:block;}
.infoTrue {border:1px solid #32CD32; background-color:#98FB98; padding:2px;}
.infoFalse {border:1px solid #FF0000; background-color:#FA8072; padding:2px;}
.infoNeut {border:1px solid #003399; background-color:#9EDEDE; padding:2px;}

* { font-family:Verdana, Arial, Helvetica, sans-serif;  }
body { margin:0; padding:0; font-size:11px; }
#logo 
{
    background-image:url(../images/logo.png);
	background-position:center center ;
    position:absolute;
    top:0; left:0; z-index:100;
    width:300px;
    height:70px;
    background-repeat:no-repeat;
	padding:12px;
}

#signature {background-image:url(../images/signoff.png);position:absolute;top:0; right:0; z-index:100;width:125px;height:90px;background-repeat:no-repeat;}
#login{background-image:url(../images/login-box-backg.png);
background-repeat:no-repeat;width:485px;height:230px;margin:0 auto; margin-top:20px;overflow:hidden;}
#box{width:420px;margin:0 auto;margin-top:70px;overflow:hidden;}
.mytabletdMenu
{
margin-top:14px;
width:600px;
margin:0 auto;
border-collapse:collapse;
border:1px solid #000;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
padding:4px;
border:1px dotted #ccc;
margin-top:4px;
}

.mytabletdMenu ul
{
margin-left:15px;
list-style:none;
}
.mytabletdMenutd
{
padding:4px;
border:1px solid #000;
}
.mytabletdMenutd h2
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
color:#990000;
}
.mytabletdMenutd a, .mytabletdMenutd a:visited{	font-family:Verdana;font-size:12px;text-decoration:none;color:Blue;}
.mytabletdMenutd a:hover{font-family:Verdana;font-size:12px;text-decoration:underline;color:Blue;}




.nibbstable{margin-top:14px;width:600px;margin:0 auto;border-collapse:collapse;border:1px solid #000;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:12px;padding:4px;border:1px dotted #ccc;margin-top:3px;}
.Frm1 { margin:0 auto;}
.Frm1 h3 { margin:0; padding:0;}
.Frm1 td {}
.Frm1 select {width:208px; padding:2px; margin:2px; font-size:12px; border:1px solid #aaa;}
.Frm1 input[type=text] {  width:200px; padding:2px; margin:2px; font-size:12px; border:1px solid #aaa; }
.Frm1 input[type=password] {  width:200px; padding:2px; margin:2px; font-size:12px; border:1px solid #aaa; }
.Frm1 input[type=radio] { }
.Frm1 textarea {}
.Frm1 input[type=submit] { padding:5px 10px; margin:5px; font-size:12px; }

.nibbstable ul{margin-left:15px;list-style:none;}
.nibbstabletd{padding:4px;border:1px solid #000;}
.nibbstabletd h2{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:12px;color:#990000;margin:0;padding:0;}
.nibbstabletd a, .nibbstabletd a:visited{font-family:Verdana;font-size:12px;color:Blue;text-decoration:underline;}
.nibbstabletd a:hover{font-family:Verdana;font-size:12px;color:Blue;text-decoration:none;}
.nibbstabletd ul a, .nibbstabletd a:visited{font-family:Verdana;font-size:12px;color:Blue;text-decoration:underline;}
.nibbstabletd ul a:hover{font-family:Verdana;font-size:12px;color:Blue;text-decoration:none;}
.nibbsbox
{
margin:0 auto;
width:610px;
margin-top:4px;
}
.nibbsmsgbox
{
margin-left:4px;
padding:4px;
}
#bxTop {height:90px;background-image:url(../images/bg.png);}
#bxNav { }
#bxNav ul { margin:0px; padding:15px 0px; list-style-type:none; background-image:url(../images/up.png); background-repeat:repeat-x;}
#bxNav li { display:inline; padding:0; margin:0;}
#bxNav li:hover {}
#bxNav a { color:white; font-size:14px; text-decoration:none; padding:15px 20px;}
#bxNav a:hover { background-image:url(../images/hover.png); background-repeat:repeat-x; }
.movelbl{
margin-left:18px;
margin-bottom:4px;
}
.mytable
{
width:600px;
border-collapse:collapse;
border:1px solid #000;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
padding:4px;
margin:0 auto;
margin-top:4px;
}
.mytabletd{padding:4px;border:1px solid #000;}
.mytable h2{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:12px;color:#990000;}
.mytabletd ul{list-style:none;}
.mytabletd a, .mytabletd a:visited{	font-family:Verdana;font-size:12px;text-decoration:none;color:Blue;}
.mytabletd a:hover{	font-family:Verdana;font-size:12px;text-decoration:unerline;color:Blue;}



.stealth{visibility :hidden;}
#bxFoot { text-align:center; font-size: 10px;}

.mytablelogon
{
border-collapse:collapse;
width:90%;
margin:0 auto;
border:1px dotted #ccc;
margin-right:24px;
}
.mytablelogontd
{
padding:4px;
border:1px dotted #ccc;
} 
.mytablehop
{
border-collapse:collapse;
width:98%;
margin:0 auto;
border:1px dotted #ccc;
}
.mytablehoptd
{
padding:4px;
border:1px dotted #ccc;
} 
.formtextbox
{
border:1px dotted #ccc;
}

.txtamtbox2
{
color:#FFFFFF;
border:none;
width:0%;
}

.mySearch a 