/* CSS Document */
*
{
margin:0;
padding:0;
}
#infoClose { float:right; display:block;}
.infoTrue {border:1px solid #32CD32; background-color:#98FB98; padding:2px;}
.infoFalse {border:1px solid #FF0000; background-color:#FA8072; padding:2px;}
.infoNeut {border:1px solid #003399; background-color:#9EDEDE; padding:2px;}
* { font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; }
body { margin:0; padding:0; }
#logo 
{
    background-image:url(../images/logo.png);
	background-position:center center ;
    position:absolute;
    top:0; left:0; z-index:100;
    width:300px;
    height:70px;
    background-repeat:no-repeat;
	padding:12px;
}

#signature 
{
    background-image:url(../images/signoff.png);
    position:absolute;
    top:0; right:0; z-index:100;
    width:125px;
    height:90px;
    background-repeat:no-repeat;
}
.info{width:100%; height:40px; background-color:#ccc;}
.info p {float:left;}
#bxTop {height:90px;background-image:url(../images/bg.png);}
#bxNav { }
#bxNav ul { margin:0px; padding:15px 0px; list-style-type:none; background-image:url(../images/up.png); background-repeat:repeat-x;}
#bxNav li { display:inline; padding:0; margin:0;}
#bxNav li:hover {}
#bxNav a { color:white; font-size:14px; text-decoration:none; padding:15px 20px;}
#bxNav a:hover { background-image:url(../images/hover.png); background-repeat:repeat-x; }

#bxContent { min-height:400px;}
#bxFoot { text-align:center; font-size: 10px;}

.mytablelogon
{
border-collapse:collapse;
width:60%;
margin:0 auto;
border:1px dotted #ccc;
}
.mytablelogontd
{
padding:4px;
border:1px dotted #ccc;
} 
.mytablehop
{
border-collapse:collapse;
width:98%;
margin:0 auto;
border:1px dotted #ccc;
}
.mytablehoptd
{
padding:4px;
border:1px dotted #ccc;
} 
.formtextbox
{
border:1px dotted #ccc;
}
.mytable
{
border-collapse:collapse;
width:80%;
margin:0 auto;
border:1px dotted #ccc;
}
.mytable a,.mytable a:visited
{
text-decoration:underline;
color:#0000FF;
}
.mytable a:hover
{
text-decoration:none;
color:#0000FF;
}
.mytable h2
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:16px;
color:#990000;
}
.mytabletd
{
padding:4px;
border:1px dotted #ccc;
} 

.txtamtbox
{
 color:Red;
}
.txtamtbox2
{
color:#FFFFFF;
border:none;
width:0%;
}
.otherforms
{
	width:236px;
}
.stealth
{
	visibility :hidden;
}
.formtext
{
width:220px;
}
