<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <appSettings>
    <add key="subject" value="Sterling IBS OTP"/>
    <add key="minutes" value="60"/>
    <add key="FiveMinutes" value="5"/>
    <add key="sourceEmail" value="SterlingIBSOTP@sterlingbankng.com"/>
    <add key="mssqlconn_infobip" value="Data Source=10.0.20.47;Initial Catalog=proxy;Persist Security Info=True;User ID=mGate2;Password=mGate123!"/>
    <add key="mssqlconn_infobip_specta" value="Data Source=SQLDB2,1490;Initial Catalog=ProxyDB_Pry;Persist Security Info=True;User ID=mgateuser;Password=mgate123!"/>

    <add key="mssqlconn_infobiptest" value="Data Source=10.0.41.101;Initial Catalog=proxy;Persist Security Info=True;User ID=sa;Password=tylent"/>
    <add key="mssqlconn_ibsdb" value="Data Source=10.0.41.101;Initial Catalog=IBSWebserviceDBv2;User ID=sa;Password=tylent;MultipleActiveResultSets=true;"/>
    <add key="smsSender.smsSender" value="http://epayments.sterlingbankng.com/smsservice/smsSender.asmx"/>
    <add key="errorlog" value="E:/AppsLog/genotp/errorlog/"/>
    <add key="Sender" value="STERLING"/>
    <add key="EACBS.banks" value="http://10.0.41.102:820"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceSoap" />
        <binding name="ServiceSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.0.0.230/ewService/service.asmx"
        binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
        contract="MailSenderService.ServiceSoap" name="ServiceSoap" />
      <endpoint address="http://10.0.41.102/EWServiceT24/Service.asmx"
        binding="basicHttpBinding" bindingConfiguration="ServiceSoap1"
        contract="ewsTest.ServiceSoap" name="ServiceSoap1" />
    </client>
  </system.serviceModel>
</configuration>