<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <appSettings>
    <add key="smsDB" value="Data Source=10.0.20.47;Initial Catalog=proxy;Persist Security Info=True;User ID=mGate2;Password=mGate123!;Max Pool Size=1000"/>
    <add key="AccountType_Sav"
      value="STERLING KIA KIA ACCT – TIER 1,I CAN SAVE,NEW STERLING PLUS,STERLING PLUS,CLASSIC SAVINGS ACCT,DOMICILLIARY CURR ACCT- INDIVIDUAL,CLASSIC SAVINGS ACCOUNT"/>
    <add key="AccountType_Cur"
      value="CLASSIC CURR ACCT - INDIVIDUAL,STERLING PREMIUM AC-INDIVIDUAL,STAFF SALARY ACCT,STERLING ALUMNI ACCT,STERLING PREMIUM ACCT-CORP,STERLING PREMIER ACCT-CORP,SUPA START UP,SUPA EMERGING"/>
    <!--<add key="errorlog_" value="c:\AppLogs\ussd\errorlog\"/>-->
    <add key="errorlog_" value="d:\AppLogs\ussd\errorlog\"/>
    <add key="ussdlog" value="c:\AppLogs\ussd\errorlog\"/>
    <add key="svclog" value="c:\AppLogs\ussd\errorlog\"/>
    <add key="bvnlog" value="c:\AppLogs\ussd\errorlog\"/>
    <add key="Accountlog" value="c:\AppLogs\ussd\errorlog\"/>
    <add key="mfino_user" value="c:\AppLogs\ussd\errorlog\"/>
    <add key="vtu_bpas" value="c:\AppLogs\ussd\errorlog\"/>
    <!--<add key="errorlog" value="c:\Applogs\ussd\errorlog\"/>-->
    <add key="errorlog" value="d:\Applogs\ussd\errorlog\"/>
    <add key="tracer" value="c:\Applogs\ussd\errorlog\"/>
    <add key="mfinoAPI" value="https://192.168.1.25/webapi/sdynamic"/>
    <!--<add key="conn_imal" value="user id=imal;password=imal;data source=//10.0.41.95:1521/imal;Persist Security Info=True;pooling=true;" />-->
    <!--<add key="conn_imal" value="user id=imal;password=imal;data source=//10.0.41.95:1521/imal;Persist Security Info=True;pooling=true;"/>-->

    <!--<add key="mfinoAPI" value="https://192.168.1.29/webapi/sdynamic"/>-->
    <!--<add key="mssqlconn" value="Data Source=HQ-TECH-L03\SQLEXPRESS;Initial Catalog=MobileMoney;User ID=sa;Password=Kinder$$098"/>-->
    <add key="mssqlconn" value="Data Source=10.0.41.101;Initial Catalog=MobileMoney;User ID=sa;Password=tylent"/>
    <add key="mssqlconn_pcode" value="Data Source=10.0.41.101;Initial Catalog=Paycode;User ID=sa;Password=tylent;MultipleActiveResultSets=true;"/>
    <add key="mssqlconn_nip" value="Data Source=10.0.41.101;Initial Catalog=nfpdb_test;User ID=sa;Password=tylent"/>
    <add key="mssqlconn_bills" value="Data Source=10.0.41.101;Initial Catalog=BillPaymentDB;User ID=sa;Password=tylent"/>
    <add key="mssqlconn_bvn" value="Data Source=10.0.41.101;Initial Catalog=BVNManager;User ID=sa;Password=tylent"/>
    <add key="mssqlconn_bvn" value="Data Source=10.0.41.101;Initial Catalog=BVNManager;User ID=sa;Password=tylent"/>
    <add key="mssqlconn_Pos" value="Data Source=10.0.41.101;Initial Catalog=SterlingPOS;User ID=sa;Password=tylent"/>
    <add key="mssqibs" value="Data Source=10.0.41.101;Initial Catalog=IBSWebserviceDBv2;Persist Security Info=True;User ID=sa;Password=tylent"/>
    <add key="mssqlconn_PostCard" value="Server=10.0.41.239;database=postcard;Persist Security Info=True;User ID=carduser;password=($t*rl1ng132);"/>
    <add key="IBSWS_URL" value="http://10.0.41.102:818/Ibsservices.asmx"/>
    <add key="IBSWS_NAME" value="IBSServices"/>
    <add key="IBSWS_METHOD" value="IBSBridge"/>
    <add key="svcvalidation" value="c:\AppLogs\ussd\errorlog\"/>
    <add key="mfino_user" value="c:\AppLogs\ussd\errorlog\"/>
    <add key="svcRequest" value="502"/>
    <add key="svcChannelID" value="9"/>
    <add key="svcPassword" value="bJYpxd38s9"/>
    <add key="PROXY" value="YES"/>
    <add key="OCAAPI" value="http://localhost/OCAApi/"/>
    <add key="SecurityKey" value="88##%%**"/>
    <add key="Fincode" value="999232"/>
    <add key="RequestorID" value="999232"/>
    <add key="BaseUrl" value="http://10.0.41.102:833/"/>
    <add key="BaseUrlEtag" value="http://10.0.41.102:691/"/>
    <add key="BaseUrlCashout" value="http://10.0.41.102:779/"/>
    <add key="CardWSConnectionString"
      value="Data Source=10.0.41.239;Initial Catalog=postcard;User ID=carduser;Password=($t*rl1ng132);Max Pool Size=3000;Pooling=true;"/>
    <!--<add key="conn_imal" value="user id=imal;password=imal;data source=//10.0.41.95:1521/imaluatd;Persist Security Info=True;pooling=true;"/>-->
    <add key="conn_imal" value="user id=imal;password=imal;data source=//10.0.41.95:1521/imal;Persist Security Info=True;pooling=true;"/>
    <add key="ImalBaseUrl" value="http://10.0.41.102:812/"/>
    <add key="RestrictedCodes" value="1,3,23,24"/>
    <add key="EtagtoAccount" value="NGN1571102232001"/>
    <add key="EtagVendor" value="0065667144"/>
    <add key="BankOneKey" value="22948DD9-A03D-42C1-88D8-3A297D0F4F51"/>
    <add key="AlimoshoUrl" value="http://localhost:333/"/>
    <add key="AlimoshoUser" value="sterlbankers"/>
    <add key="AlimoshoPassword" value="p@CE7BY"/>
    <add key="mssqlconnAli" value="Data Source=10.0.41.101;Initial Catalog=LG_Collections;User ID=sa;Password=tylent"/>

  </appSettings>
  <connectionStrings>
    <add name="dbConn" connectionString="Data Source=10.0.41.101;Initial Catalog=MobileMoney;User ID=sa;Password=tylent" providerName="System.Data.SqlClient"/>
    <add name="mqssqlnip" connectionString="Data Source=10.0.41.101;Initial Catalog=nfpdb_test;User ID=sa;Password=tylent" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <sessionState timeout="180"/>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Net, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Net.Http.WebRequest, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <!--<add assembly="System.Net.Http, Version=4.1.1.1, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>-->
        <add assembly="System.Net.Http, Version=4.1.1.1, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0"/>
    <httpCookies httpOnlyCookies="true" requireSSL="true" domain="SBPUSSD"/>
    <httpModules/>
  </system.web>
  <system.net>
    <defaultProxy>
      <proxy usesystemdefault="False"/>
    </defaultProxy>
  </system.net>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceSoap"/>
        <binding name="ocaserviceSoap"/>
        <binding name="banksSoap"/>
        <binding name="MerchantEnrollmentEndPointPortBinding"/>
        <binding name="PaymentWebServicePortBinding"/>
        <binding name="ServiceSoap1"/>
        <binding name="NewIBSSoap"/>
        <binding name="ServiceSoap2" closeTimeout="00:20:00" openTimeout="00:20:00" receiveTimeout="00:20:00" sendTimeout="00:20:00"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000" maxArrayLength="200000000"/>
        </binding>
        <binding name="fepservicesSoap" closeTimeout="00:20:00" openTimeout="00:20:00" receiveTimeout="00:20:00" sendTimeout="00:20:00"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000" maxArrayLength="200000000"/>
        </binding>
        <binding name="NIBankingServiceSoapBinding"/>
        <binding name="BasicHttpBinding_ICardServ"/>
        <binding name="SMSINFOBIPSoap"/>
        <binding name="IBSServicesSoap" closeTimeout="00:20:00" openTimeout="00:20:00" receiveTimeout="00:20:00" sendTimeout="00:20:00"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000" maxArrayLength="200000000"/>
        </binding>
        <binding name="CardsSoap" closeTimeout="00:20:00" openTimeout="00:20:00" receiveTimeout="00:20:00" sendTimeout="00:20:00" maxBufferPoolSize="20000000"
          maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000" maxArrayLength="200000000"/>
        </binding>
        <binding name="banksSoap1"/>
        <binding name="BasicHttpBinding_IBankOneTransactionRequestService"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.0.0.230/EwService/Service.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
        contract="svcBanks.ServiceSoap" name="ServiceSoap"/>
      <endpoint address="http://localhost/OCAApi/ocaservice.asmx" binding="basicHttpBinding" bindingConfiguration="ocaserviceSoap"
        contract="OCAWS.ocaserviceSoap" name="ocaserviceSoap"/>
      <endpoint address="http://10.0.41.102/banksservicet24/banks.asmx" binding="basicHttpBinding" bindingConfiguration="banksSoap" contract="EACBS.banksSoap"
        name="banksSoap"/>
      <!--<endpoint address="http://10.0.0.217:814/banks.asmx" binding="basicHttpBinding" bindingConfiguration="banksSoap" contract="EACBS.banksSoap"
        name="banksSoap"/>-->
      <endpoint address="http://192.234.10.204:8564/merchantpay/merchant-enrollment" binding="basicHttpBinding"
        bindingConfiguration="MerchantEnrollmentEndPointPortBinding" contract="mpayenroll.MerchantEnrollmentEndPoint" name="MerchantEnrollmentEndPointPort"/>
      <endpoint address="http://192.234.10.204:9092/merchantpay/payment-service" binding="basicHttpBinding" bindingConfiguration="PaymentWebServicePortBinding"
        contract="mpay.PaymentWebService" name="PaymentWebServicePort"/>
      <endpoint address="http://10.0.41.102/ewserviceT24/Service.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceSoap1"
        contract="EWS.ServiceSoap" name="ServiceSoap1"/>
      <endpoint address="http://10.0.0.230/ewservice/service.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceSoap2" contract="ValBVN.ServiceSoap"
        name="ServiceSoap2"/>
      <endpoint address="http://10.0.41.102:8084/NewIBS.asmx" binding="basicHttpBinding" bindingConfiguration="NewIBSSoap" contract="NIPNameEnquiry.NewIBSSoap"
        name="NewIBSSoap"/>
      <endpoint address="http://localhost:8011/fepservices.asmx" binding="basicHttpBinding" bindingConfiguration="fepservicesSoap"
        contract="fepservices.fepservicesSoap" name="fepservicesSoap"/>
      <endpoint address="http://10.0.41.207:3030/NIBanking/services/nib" binding="basicHttpBinding" bindingConfiguration="NIBankingServiceSoapBinding"
        contract="imal1.NIBankingService" name="NIBankingRemoteServicePort"/>
      <endpoint address="http://10.0.41.102:4020/CardServ.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICardServ"
        contract="CardCtrlWS.ICardServ" name="BasicHttpBinding_ICardServ"/>
      <endpoint address="http://10.0.0.217/infobipsms/SMSINFOBIP.asmx" binding="basicHttpBinding" bindingConfiguration="SMSINFOBIPSoap"
        contract="smsService.SMSINFOBIPSoap" name="SMSINFOBIPSoap"/>
      <endpoint address="http://10.0.41.102:818/IBSServices.asmx" binding="basicHttpBinding" bindingConfiguration="IBSServicesSoap"
        contract="ibs1.IBSServicesSoap" name="IBSServicesSoap"/>
      <endpoint address="http://10.0.41.166/testcardservice/cards.asmx" binding="basicHttpBinding" bindingConfiguration="CardsSoap"
        contract="CardPinService.CardsSoap" name="CardsSoap"/>
      <endpoint address="http://10.0.41.102/banksservicet24/banks.asmx" binding="basicHttpBinding" bindingConfiguration="banksSoap1"
        contract="testcore.banksSoap" name="banksSoap1"/>
      <endpoint address="http://52.224.166.115/BankOneFT/BankOneTransactionRequestService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IBankOneTransactionRequestService" contract="BankOneService.IBankOneTransactionRequestService"
        name="BasicHttpBinding_IBankOneTransactionRequestService"/>
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.1" newVersion="4.1.1.1"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules/>
  </system.webServer>
  <system.codedom>
    <compilers>
      <!--<compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>-->
    </compilers>
  </system.codedom>
</configuration>