<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--<add key="errorlog" value="E:\AppLogs\ussdjobs\"/>-->
    <add key="errorlog" value="D:\AppLogs\ussdjobs\"/>
    <add key="ImalBaseUrl" value="http://10.0.41.102:812/"/>
    <add key="conn_imal" value="user id=imal;password=imal;data source=//10.0.41.95:1521/imal;Persist Security Info=True;pooling=true;"/>
    <add key="mssqlconn" value="Data Source=10.0.41.101;Initial Catalog=MobileMoney;User ID=sa;Password=tylent"/>
  </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceSoap" closeTimeout="00:20:00" openTimeout="00:20:00"
                    receiveTimeout="00:20:00" sendTimeout="00:20:00" maxBufferPoolSize="20000000"
                    maxBufferSize="20000000" maxReceivedMessageSize="20000000">
                    <readerQuotas maxDepth="32" maxStringContentLength="200000000"
                        maxArrayLength="200000000" />
                </binding>
                <binding name="banksSoap" closeTimeout="00:20:00" openTimeout="00:20:00"
                    receiveTimeout="00:20:00" sendTimeout="00:20:00" maxBufferPoolSize="20000000"
                    maxReceivedMessageSize="20000000" />
                <binding name="IBSServicesSoap" closeTimeout="00:20:00" openTimeout="00:20:00"
                  receiveTimeout="00:20:00" sendTimeout="00:20:00" maxBufferPoolSize="20000000"
                  maxReceivedMessageSize="20000000" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.0.0.92:8090/SalesManagerWS/service.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
                contract="imalServ.ServiceSoap" name="ServiceSoap" />
          <endpoint address="http://10.0.41.102:818/IBSServices.asmx" binding="basicHttpBinding"
               bindingConfiguration="IBSServicesSoap" contract="ibs.IBSServicesSoap"
               name="IBSServicesSoap" />
          <endpoint address="http://10.0.41.102/banksservicet24/banks.asmx"
              binding="basicHttpBinding" bindingConfiguration="banksSoap"
              contract="EACBS.banksSoap" name="banksSoap" />
            <!--<endpoint address="http://10.0.20.251:824/banks.asmx" binding="basicHttpBinding"
                bindingConfiguration="banksSoap" contract="EACBS.banksSoap"
                name="banksSoap" />
            <endpoint address="http://10.0.20.222:814/ibsservices.asmx" binding="basicHttpBinding"
                bindingConfiguration="IBSServicesSoap" contract="ibs.IBSServicesSoap"
                name="IBSServicesSoap" />-->
        </client>
    </system.serviceModel>
</configuration>