<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="smsDB" value="Data Source=SQLDB2,1490;Initial Catalog=proxy;Persist Security Info=True;User ID=mgateuser;Password=mgate123!;Max Pool Size=1000" />
    <add key="AccountType_Sav" value="STERLING KIA KIA ACCT – TIER 1,I CAN SAVE,NEW STERLING PLUS,STERLING PLUS,CLASSIC SAVINGS ACCT,DOMICILLIARY CURR ACCT- INDIVIDUAL,CLASSIC SAVINGS ACCOUNT" />
    <add key="AccountType_Cur" value="CLASSIC CURR ACCT - INDIVIDUAL,STERLING PREMIUM AC-INDIVIDUAL,STAFF SALARY ACCT,STERLING ALUMNI ACCT,STERLING PREMIUM ACCT-CORP,STERLING PREMIER ACCT-CORP,SUPA START UP,SUPA EMERGING" />
    <add key="errorlog_" value="E:\AppLogs\mmussd\v2\base\" />
    <add key="Accountlog" value="E:\AppLogs\mmussd\v2\base\" />
    <add key="vtu_bpas" value="E:\AppLogs\mmussd\v2\base\" />
    <add key="errorlog" value="E:\AppLogs\mmussd\v2\base\" />
    <add key="tracer" value="E:\AppLogs\mmussd\v2\base\" />
    <add key="mfinoAPI" value="https://192.168.1.29/webapi/sdynamic" />
    <add key="mssqlconn" value="Data Source=SQLDB1,1490;Initial Catalog=MobileMoney;User ID=Mobilem;Password=($terl1ng)//$uf#z17_2" />
    <add key="mssqlconn_pcode" value="Data Source=SQLDB1,1490;Initial Catalog=Paycode;User ID=Mobilem;Password=($terl1ng)//$uf#z17_2;MultipleActiveResultSets=true;" />
    <!--<add key="mssqlconn_Pos" value="Data Source=10.0.0.204,1490;Initial Catalog=SterlingPOST24;User ID=appusr;Password=appusr"/>-->
    <add key="mssqlconn_nip" value="Data Source=SQLDB1,1490;Initial Catalog=nfpdbT24;Persist Security Info=True;User ID=etrnx;Password=(*59serv#)" />
    <add key="mssqibs" value="Data Source=SQLDB1,1490;Initial Catalog=IBSWebserviceDB_T24;User ID=ibsw;Password=(56#ib*ws);MultipleActiveResultSets=true;"/>
    <add key="IBSWS_URL" value="http://10.0.20.222:814/ibsservices.asmx" />
    <add key="IBSWS_NAME" value="IBSServices" />
    <add key="IBSWS_METHOD" value="IBSBridge" />
    <add key="ussdlog" value="E:\AppLogs\mmussd\v2\vtu\" />
    <add key="svclog" value="E:\AppLogs\mmussd\v2\vtu\" />
    <add key="svcvalidation" value="E:\AppLogs\mmussd\v2\vtu\" />
    <add key="mfino_user" value="E:\AppLogs\mmussd\v2\vtu\" />
    <add key="svcRequest" value="502" />
    <add key="svcChannelID" value="9" />
    <add key="svcPassword" value="bJYpxd38s9" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="PROXY" value="NO" />
    <add key="SecurityKey" value="88##%%**" />
    <add key="EtagtoAccount" value="NGN1571102232001" />
    <add key="EtagVendor" value="0065667144" />
    <add key="BaseUrlEtag" value="http://10.0.0.229:819/" />
    <add key="BaseUrl" value="http://10.0.0.229:809/" />
    <add key="BaseUrlCashout" value="http://10.0.0.229/CashOutAPI/"/>
    <add key="mssqlconn_PostCard" value="Server=172.25.31.4;database=postcard;Persist Security Info=True;User ID=carduser;password=C@rdusr1" />
  </appSettings>
  <connectionStrings>
    <add name="dbConn" connectionString="Data Source=SQLDB1,1490;Initial Catalog=MobileMoney;User ID=Mobilem;Password=($terl1ng)//$uf#z17_2" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--<applicationSettings>
    <VTU.Properties.Settings>
      <setting name="VTU_EwService_Service" serializeAs="String">
        <value>http://10.0.0.230/EwService/Service.asmx</value>
      </setting>

      <setting name="VTU_IBSService_IBSServices" serializeAs="String">
        <value>http://192.168.4.36:812/Ibsservices.asmx</value>
      </setting>
    </VTU.Properties.Settings>
  </applicationSettings>-->
  <system.web>
    <sessionState timeout="180" />
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Net, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <!--<pages/>
    <httpCookies httpOnlyCookies="true" requireSSL="true" domain="SBPUSSD"/>-->
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceSoap" />
        <binding name="ServiceSoap1" />
        <binding name="ServiceSoap2" closeTimeout="00:20:00" openTimeout="00:20:00"
          receiveTimeout="00:20:00" sendTimeout="00:20:00" maxBufferPoolSize="20000000"
          maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="NewIBSSoap" closeTimeout="00:20:00" openTimeout="00:20:00"
          receiveTimeout="00:20:00" sendTimeout="00:20:00" maxBufferPoolSize="20000000"
          maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="NIBankingServiceSoapBinding" />
        <binding name="BasicHttpBinding_ICardServ" />
        <binding name="CardsSoap" closeTimeout="00:20:00" openTimeout="00:20:00"
          receiveTimeout="00:20:00" sendTimeout="00:20:00" maxBufferPoolSize="20000000"
          maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="IBSServicesSoap" closeTimeout="00:20:00" openTimeout="00:20:00"
          receiveTimeout="00:20:00" sendTimeout="00:20:00" maxBufferPoolSize="20000000"
          maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="banksSoap" closeTimeout="00:20:00" openTimeout="00:20:00"
          receiveTimeout="00:20:00" sendTimeout="00:20:00" maxBufferPoolSize="20000000"
          maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.0.0.230/EwService/Service.asmx"
        binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
        contract="svcBanks.ServiceSoap" name="ServiceSoap" />
      <endpoint address="http://10.0.0.230/EwService/Service.asmx"
        binding="basicHttpBinding" bindingConfiguration="ServiceSoap1"
        contract="EWS.ServiceSoap" name="ServiceSoap1" />
      <endpoint address="http://10.0.0.189/nfplive/NewIBS.asmx" binding="basicHttpBinding"
        bindingConfiguration="NewIBSSoap" contract="NIPNameEnquiry.NewIBSSoap"
        name="NewIBSSoap" />
      <endpoint address="http://10.0.0.230/ewservice/service.asmx"
        binding="basicHttpBinding" bindingConfiguration="ServiceSoap2"
        contract="ValBVN.ServiceSoap" name="ServiceSoap2" />
      <endpoint address="http://10.0.0.119:3030/NIBanking/services/nib"
        binding="basicHttpBinding" bindingConfiguration="NIBankingServiceSoapBinding"
        contract="imal1.NIBankingService" name="NIBankingRemoteServicePort" />
      <endpoint address="http://172.25.31.202:820/CardServ.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ICardServ" contract="CardCtrlWS.ICardServ"
        name="BasicHttpBinding_ICardServ" />
      <endpoint address="http://172.25.31.202:810/Cards.asmx" binding="basicHttpBinding"
        bindingConfiguration="CardsSoap" contract="CardPinService.CardsSoap"
        name="CardsSoap" />
      <endpoint address="http://10.0.20.222:814/ibsservices.asmx" binding="basicHttpBinding"
        bindingConfiguration="IBSServicesSoap" contract="ibs1.IBSServicesSoap"
        name="IBSServicesSoap" />
      <endpoint address="http://10.0.20.251:824/banks.asmx" binding="basicHttpBinding"
        bindingConfiguration="banksSoap" contract="EACBS.banksSoap"
        name="banksSoap" />
    </client>
  </system.serviceModel>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationInsights.ServiceRuntime" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="2.0.0.0" newVersion="2.4.1.0" />
      </dependentAssembly>
      
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.0.0" newVersion="2.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.diagnostics>
    <trace autoflush="true" indentsize="0">
      <listeners>
        <add name="myAppInsightsListener" type="Microsoft.ApplicationInsights.TraceListener.ApplicationInsightsTraceListener, Microsoft.ApplicationInsights.TraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>