<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="mssqlconn" value="Data Source=10.0.0.211,1490;Initial Catalog=MobileMoney;User ID=Mobilem;Password=$mob379#"/>
    <add key="mssqibs" value="Data Source=10.0.0.204,1490;Initial Catalog=IBSWebserviceDB_T24;User ID=ibsw;Password=(56#ib*ws);MultipleActiveResultSets=true;"/>
    <!--<add key="mssqlconn" value="Data Source=10.0.41.101;Initial Catalog=MobileMoney;User ID=sa;Password=tylent"/>-->
    <!--<add key="mssqibs" value="Data Source=10.0.41.101;Initial Catalog=IBSWebserviceDBv2;User ID=sa;Password=tylent;MultipleActiveResultSets=true;"/>-->
    <add key="toAccount" value="PL52259"/>
    
    <add key="VAT_bra_code" value="NG0020001"/>
    <add key="VAT_cus_num" value="0"/>
    <add key="VAT_cur_code" value="NGN"/>
    <add key="VAT_led_code" value="17201"/>
    
    
    <add key="Sterling_amt" value="19"/>
    <add key="Sterling_vat" value="1"/>
    
    <add key="Balance_amt" value="9.5"/>
    <add key="Balance_vat" value="0.5"/>
    
    <add key="Acct_Check_amt" value="9.5"/>
    <add key="Acct_Check_vat" value="0.5"/>
    
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="IBSServicesSoap" closeTimeout="00:20:00" openTimeout="00:20:00"
                    receiveTimeout="00:20:00" sendTimeout="00:20:00" maxBufferPoolSize="20000000"
                    maxReceivedMessageSize="20000000" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:814/ibsservices.asmx" binding="basicHttpBinding"
                bindingConfiguration="IBSServicesSoap" contract="IBS.IBSServicesSoap"
                name="IBSServicesSoap" />
        </client>
    </system.serviceModel>
</configuration>
