<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BankTellerFundsTransfer_imal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="BankTellerFundsTransfer_lagos3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="BankTellerFundsTransfer_lagos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BankTellerFundsTransfer_imal.Properties.Settings>
            <setting name="BankTellerFundsTransfer_lagos_SMS_smsSender" serializeAs="String">
                <value>http://epayments.sterlingbankng.com/smsservice/smsSender.asmx</value>
            </setting>
            <setting name="BankTellerFundsTransfer_lagos_EACBS_banks" serializeAs="String">
                <value>http://10.0.0.217:814/banks.asmx</value>
            </setting>
            <setting name="BankTellerFundsTransfer_lagos3_imalVteller_Services"
                serializeAs="String">
                <value>http://10.0.0.189/imalcore/services.asmx</value>
            </setting>
            <setting name="BankTellerFundsTransfer_lagos_BankTeller_bankTeller"
                serializeAs="String">
                <value>http://localhost/nfplive/bankTeller.asmx</value>
            </setting>
            <setting name="BankTellerFundsTransfer_lagos3_ImalAcctinfo_Service"
                serializeAs="String">
                <value>http://10.0.0.92:8090/SalesManagerWS/Service.asmx</value>
            </setting>
            <setting name="BankTellerFundsTransfer_imal_BankTellerV2_bankTeller"
                serializeAs="String">
                <value>http://localhost/nfplive/bankTeller.asmx</value>
            </setting>
        </BankTellerFundsTransfer_imal.Properties.Settings>
    </applicationSettings>
</configuration>