<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="mssqlconn" value="Data Source=10.0.0.211,1490;Initial Catalog=MobileMoney;User ID=Mobilem;Password=$mob379#"/>
    <add key="SecurityKey" value="88##%%**"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
