@{
	ViewBag.Title = "BI Report";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@



<div class="col-md-12">
    <iframe width="1600" height="800" src="https://app.powerbi.com/view?r=eyJrIjoiMzVhZDIxNzgtMmFiZC00NmM4LThhM2UtMWFiYWJlZTExZDM2IiwidCI6IjRjOGE5ZjdhLTExZmMtNGZjMi05MDk5LTBiNjhmNzJhMTk3ZSIsImMiOjh9" frameborder="0" allowFullScreen="true"></iframe>
	</div>


