<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="mssqlconn" value="Data Source=10.0.0.211,1490;Initial Catalog=MobileMoney;User ID=Mobilem;Password=$mob379#"/>
    <add key="mssqibs" value="Data Source=10.0.0.204,1490;Initial Catalog=IBSWebserviceDB_T24;User ID=ibsw;Password=(56#ib*ws);MultipleActiveResultSets=true;"/>
    <add key="toAccount" value="PL52259"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
              <binding name="IBSServicesSoap" closeTimeout="00:20:00" openTimeout="00:20:00"
         receiveTimeout="00:20:00" sendTimeout="00:20:00" maxBufferPoolSize="20000000"
         maxBufferSize="20000000" maxReceivedMessageSize="20000000">
                <readerQuotas maxDepth="32" maxStringContentLength="200000000"
                  maxArrayLength="200000000" />
              </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.0.0.189:814/ibsservices.asmx" binding="basicHttpBinding" bindingConfiguration="IBSServicesSoap" contract="IBS.IBSServicesSoap" name="IBSServicesSoap"/>
        </client>
    </system.serviceModel>
</configuration>
