<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>
  <appSettings>
    <add key="mailHost" value="10.0.20.77"/>
    <add key="mailUserName" value="bulktra"/>
    <add key="mailUserPwd" value="bulktra123"/>
    <add key="Appmail" value="bulktra@sterlingbankng.com"/>
    <add key="serverip" value="10.0.0.217"/>
    <add key="AppVirDir" value="Bulktra V2"/>
    <add key="AppVirDirAuth" value="Bulktra v2 Auth"/>
    <add key="AppVirDirAppr" value="bulktraAdmin"/>
    <add key="ApproverUrl" value="http://HQEBIZSERV/bulktraAdmin"/>
    <add key="AuthorizerUrl" value="http://HQEBIZSERV/bulktraAuthorizer"/>
    <add key="InputterUrl" value="http://HQEBIZSERV/bulktra/default.aspx"/>
    <!--<add key="bank.bank" value="http://10.0.0.217/bankservice/bank.asmx"/> 
    <add key="ldapWS.bank" value="http://10.0.0.217/bankservice/bank.asmx"/>-->
    <add key="bank.bank" value="http://10.0.41.102/banksservicet24/banks.asmx"/>
    <add key="imal.imal" value="http://10.0.41.102/SalesManagerWS/Service.asmx"/>
    <add key="ldapWS.bank" value="http://10.0.41.102/banksservicet24/banks.asmx"/>
    <!--<add key="GAL.service" value="http://10.0.0.241/globalappaccess/service.asmx"/>-->
    <!--<add key="NewVTeller.bulktra" value="http://10.0.0.226:814/bulktra.asmx"/>-->
    <add key="NewVTeller.bulktra" value="http://10.0.41.102:814/bulktra.asmx"/>
    <!--<add key="NewBanks.banks" value="http://10.0.0.229:814/banks.asmx"/>-->
    <add key="NewBanks.banks" value="http://10.0.41.102/banksservicet24/banks.asmx"/>
    <add key="NewImal.Service" value="http://10.0.41.102/SalesManagerWS/Service.asmx"/>
    <add key="Ttwenfour.banks" value="http://10.0.0.217:814/banks.asmx"/>
  <add key="SBPSwitch.sbpswitch" value="http://10.0.41.102/sbpswitch/sbpswitch.asmx"/>
  </appSettings>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="default.aspx"/>
        <add value="index.aspx"/>
        <add value="Default.htm"/>
        <add value="Default.asp"/>
        <add value="index.htm"/>
        <add value="index.html"/>
        <add value="iisstart.htm"/>
      </files>
    </defaultDocument>
    <httpRedirect enabled="false" destination="http://10.0.0.138/bulktra/"/>
  </system.webServer>
  <connectionStrings/>
  <system.web>
    <customErrors mode="Off" defaultRedirect="error.aspx"/>
    <httpRuntime maxRequestLength="10240" executionTimeout="3600"/>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
          The <authentication> section enables configuration 
          of the security authentication mode used by 
          ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
           The <customErrors> section enables configuration 
           of what to do if/when an unhandled error occurs 
           during the execution of a request. Specifically, 
           it enables developers to configure html error pages 
           to be displayed in place of a error stack trace.

           <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
             <error statusCode="403" redirect="NoAccess.htm" />
             <error statusCode="404" redirect="FileNotFound.htm" />
           </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
</configuration>