<?xml version="1.0"?>
<configuration>
 
  <connectionStrings>
    <add name="dbConn" connectionString="Data Source=.;Initial Catalog=MobileMoney;User ID=sa;Password=%Security1" 
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--<system.web>
    <sessionState timeout="60"></sessionState>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>-->
</configuration>
